body {
    background-image: radial-gradient(circle at center, white, lightblue);
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 75px;
    text-align: center;

}

h2 {
    font-family: Arial, Helvetica, sans-serif;

}

img {
    border: 2px solid black;
    border-radius: 8px;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}

.btn {
    text-decoration: none;
    text-transform: uppercase;
    background-color: transparent;
    color: black;
    padding: 20px 30px;
    display: inline-block;
    border: solid black 3px;
    border-radius: 8px;
    transition: .2s ease-in-out 0s;
    margin-left: 30px;
    margin-top: 30px;
}

a.btn:hover{
    cursor: pointer;
    background: #FFF;
    color: #000;
    }

.adobo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
p {
    inline-size: 800px;
    overflow-wrap: break-word;
}

.description {
 
    min-height: 20vh;
    max-height: 50vh;
    display: flex;
    width: 100%;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;

    

}

section {
    min-height: 50vh;
    max-height: 10vh;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

}

.container {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

}


.ingredients {
    width: 50%;
    height: fit-content;
    background-color: rgb(147, 195, 237);
    border: solid 2px;
    border-radius: 8px;
    padding: 5px;
    line-height: 25px;

}

.steps {
    width: 50%;
    height: fit-content;
    background-color: aliceblue;
    border: solid 2px;
    border-radius: 8px;
    padding: 5px;
    margin-top: 50vh;
    margin-left: -200px;
    line-height: 25px;
}